<!-- Google Consent Mode v2 default (before GTM) -->
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('consent', 'default', {
        ad_storage: 'denied',
        ad_user_data: 'denied',
        ad_personalization: 'denied',
        analytics_storage: 'denied',
        wait_for_update: 500
    });
    gtag('set', 'url_passthrough', true);
    (function () {
        try {
            var c = localStorage.getItem('ygb-consent');
            if (c) {
                var v = JSON.parse(c);
                gtag('consent', 'update', {
                    analytics_storage: v.analytics ? 'granted' : 'denied',
                    ad_storage: v.ads ? 'granted' : 'denied',
                    ad_user_data: v.ads ? 'granted' : 'denied',
                    ad_personalization: v.ads ? 'granted' : 'denied'
                });
            }
        } catch (e) {}
    })();
</script>
<!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
        'gtm.start':
            new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', '{{ .Site.Params.gtm.id }}');</script>
<!-- End Google Tag Manager -->