{{ if or (eq .Kind "section") (eq .Kind "page") }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title }},
  {{ $original_image := (.Page.Resources.GetMatch  (index "*.jpg")) }}
  {{ if $original_image }}
  "image": {{ $original_image.Permalink }},
  {{ end }}
  {{ with .Date }}{{ if not .IsZero }}"datePublished": {{ (.Format "2006-01-02T15:04:05-07:00") }},{{ end }}{{ end }}
  {{ with .Lastmod }}{{ if not .IsZero }}"dateModified": {{ (.Format "2006-01-02T15:04:05-07:00") }},{{ end }}{{ end }}
  "author": {
    "@type": "Person",
    "name": "Samira Blank"
  },
  "mainEntityOfPage": { "@type": "WebPage" },
   "publisher": {
    "@type": "Organization",
    "name": {{ .Site.Title }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ .Site.Params.logo | absURL }}
    }
  },
  "description": {{ .Summary | plainify | chomp | truncate 160 }},
  "keywords": [{{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}]
}
</script>
{{ end }}

{{ if eq .Type "post" }}
{{ "<!-- BreadcrumbList -->" | safeHTML }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": {{ .Site.Title }},
      "item": {{ .Site.BaseURL | absURL }}
    }
    {{ $pos := 1 }}
    {{ range (.Ancestors.Reverse) }}
      {{ if not .IsHome }}
        {{ $pos = add $pos 1 }}
        ,{
          "@type": "ListItem",
          "position": {{ $pos }},
          "name": {{ .Title }},
          "item": {{ .Permalink }}
        }
      {{ end }}
    {{ end }}
    ,{
      "@type": "ListItem",
      "position": {{ add $pos 1 }},
      "name": {{ .Title }},
      "item": {{ .Permalink }}
    }
  ]
}
</script>
{{ end }}

{{ with .Params.faq }}
{{ "<!-- FAQPage -->" | safeHTML }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {{ range $i, $e := . }}{{ if $i }},{{ end }}
    {
      "@type": "Question",
      "name": {{ $e.q }},
      "acceptedAnswer": {
        "@type": "Answer",
        "text": {{ $e.a }}
      }
    }
    {{ end }}
  ]
}
</script>
{{ end }}

{{ $p := . }}
{{ with .File }}{{ if in .Path "SIGHTSEEING" }}
{{ "<!-- TouristAttraction -->" | safeHTML }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "TouristAttraction",
  "name": {{ $p.Title }},
  "description": {{ $p.Description | plainify }},
  {{ $attraction_image := ($p.Resources.GetMatch (index "*.jpg")) }}
  {{ if $attraction_image }}
  "image": {{ $attraction_image.Permalink }},
  {{ end }}
  "url": {{ $p.Permalink }}
}
</script>
{{ end }}{{ end }}

<script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "Organization",
"name": {{ .Site.Title }},
"url": {{ .Site.BaseURL }},
"sameAs": [
"https://www.facebook.com/yourguidebarcelona-106979137658416",
"https://www.instagram.com/yourguidebarcelona"
]
}
</script>