{{ define "main" }}
<section class="single-block-wrapper">
    <div class="container mx-auto">
        <!--Title-->
        <div class="text-center mt-4">
            <h1 class="font-bold break-normal text-4xl md:text-6xl mb-8">{{ .Title | markdownify }}</h1>
        </div>

        {{- partial "header-image.html" . -}}

        <div class="container max-w-5xl mx-auto -mt-32">
            <div class="mx-0 sm:mx-6">
                <div
                    class="content-wrapper bg-white w-full p-8 md:px-24 md:py-16 text-xl text-gray-800 leading-normal rounded">
                    {{ .Content }}
                </div>
            </div>

            <div class="mx-0 sm:mx-6">
                {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
                {{- if $paginator.Pages -}}
                <div class="bg-white w-full px-8 md:px-24 text-xl text-gray-800 leading-normal">
                    {{ range $paginator.Pages }}
                    {{- partial "horizontal-card.html" . -}}
                    {{ end }}

                    <div class="pagination mt-5 pt-4">
                        {{ template "_internal/pagination.html" . }}
                    </div>
                </div>
                {{ end }}

                {{- if .Sections -}}
                <div class="bg-white w-full px-8 md:px-24 text-xl text-gray-800 leading-normal">
                    <hr />
                    {{ range .Sections }}
                        {{- if .Data.Pages -}}
                        <a href="{{ .RelPermalink }}">
                            <h2 class="mt-16 hover:text-red-800">{{ .Title }}</h2>
                        </a>
                        {{- if .Content -}}
                        <p class="text-secondary">
                            {{ .Content | truncate 200 | plainify | htmlUnescape }}
                            <a class="text-red-800 hover:underline ml-2" href="{{ .Permalink }}">
                                {{ i18n "readmore"}}
                            </a>
                        </p>
                        {{- end -}}



                        {{- range $i, $e := .Data.Pages -}}
                            {{- partial "horizontal-card.html" . -}}
                        {{ end }}
                    {{ end }}
                {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

{{ end }}