body {
  background-color: #ffffff;
  opacity: 0.6;
  background-image:  radial-gradient(#edb2c3 1.05px, transparent 1.05px), radial-gradient(#edb2c3 1.05px, #ffffff 1.05px);
  background-size: 42px 42px;
  background-position: 0 0,21px 21px;
}