body {
  background-color: #ffffff;
  background-image:  radial-gradient(#edb2c3 1.05px, transparent 1.05px), radial-gradient(#edb2c3 1.05px, #ffffff 1.05px);
  background-size: 42px 42px;
  background-position: 0 0,21px 21px;
}

.content-wrapper * {
  margin-bottom: 20px;
  font-family: Georgia, serif;
}

.content-wrapper h1,
.content-wrapper h2,
.content-wrapper h3,
.content-wrapper h4,
.content-wrapper h5,
.content-wrapper h6 {
  margin-bottom: 10px;
}

.content-wrapper ul li {
  list-style-type: disc;
  list-style-position: inside;
}

.content-wrapper table {
  text-align: left;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #dee2e6;
}

.content-wrapper table th,
.content-wrapper table td {
  padding: 0.75rem;
  vertical-align: top;
  border: 1px solid #dee2e6;
}

.content-wrapper table thead {
  background: #faf1ed;
}

.content-wrapper table tbody {
  background: #fcf7f5;
}

.content-wrapper table tbody td {
  text-align: left;
}

.content-wrapper blockquote {
  align-items: center;
  display: flex;
  justify-content: center;

  padding: 2rem 1.5rem;
  border: 0.125rem solid #edb2c3e7;
  border-radius: 6px;
  background-color: #f5c1d007;
  margin: 3rem 0;
}

.content-wrapper blockquote::before {
  content: "";
  background-size: 100% 100%;
  background-image: url("../icons/006-signboard.svg");
  width: 6rem;
  height: 6rem;
  margin-right: 1rem;
  min-width: 6rem;
}

.content-wrapper blockquote p {
  margin-bottom: 0;
  color: #2d3748;
  align-items: center;
  font-size: 1.25rem;
}

.content-wrapper pre {
  padding: 10px 20px;
  background: #fcf7f5;
}

.content-wrapper pre code {
  border: 0;
  background: 0 0;
  padding: 0;
}

.content-wrapper a {
  background-image: linear-gradient(transparent calc(100% - 0.45em), #edb2c3 0),
    linear-gradient(transparent calc(100% - 0.45em), #c0e2e2 0);
  background-repeat: no-repeat;
  background-size: 0 100%, 100% 100%;
  transition: all 0.1s ease-in-out;
}

.content-wrapper a:hover {
  background-size: 100% 100%, 100% 100%;
  text-decoration: none;
}

.content-wrapper code {
  padding: 3px 5px;
  background: #fcf7f5;
  border: 1px solid #dedede;
  border-radius: 3px;
  color: #1c1c1c;
}

input#nav-toggle:checked ~ label#show-button {
  display: none;
}

input#nav-toggle:checked ~ label#hide-button {
  display: flex;
}

input#nav-toggle:checked ~ #nav-menu {
  display: block;
}

.header-title {
  text-shadow: 0 0 10px #666;
  line-height: 1;
  opacity: 0.9;
}
