.ico-compass {
  background-size: 100% 100%;
  background-image: url("../icons/004-compass.svg");
}

.ico-airplane {
  background-size: 100% 100%;
  background-image: url("../icons/001-airplane.svg");
}
