{{ $image := (.Page.Resources.GetMatch (index .Params.image)) }}
{{ $alt := .Get "alt" }}
{{ $width := .Get "width" }}
{{ $borderless := .Get "borderless" }}
{{ $placeholder := ($image.Resize "48x webp q20") | images.Filter (images.GaussianBlur 6) }}
{{ $src := $image }}
{{ $src_set := ""}}
{{ $webp_set := ""}}

{{ $fallback := $image }}
{{ if gt $image.Width "1024" }}
{{ $fallback = $image.Resize "1024x q82" }}
{{ end }}
{{ $src := $fallback }}

{{ $webp_full := $image.Resize (print $image.Width "x webp q82") }}
{{ $src_set = (print $fallback.RelPermalink " " $fallback.Width "w") }}
{{ $webp_set = (print $webp_full.RelPermalink " " $webp_full.Width "w") }}

{{ if ge $image.Width "400"}}
{{ $small := $image.Resize "400x q82" }}
{{ $small_webp := $image.Resize "400x webp q82" }}
{{ $src_set = (print $src_set ", " $small.RelPermalink " 400w") }}
{{ $webp_set = (print $webp_set ", " $small_webp.RelPermalink " 400w") }}
{{ end }}

{{ if ge $image.Width "600"}}
{{ $medium := $image.Resize "600x q82" }}
{{ $medium_webp := $image.Resize "600x webp q82" }}
{{ $src_set = (print $src_set ", " $medium.RelPermalink " 600w") }}
{{ $webp_set = (print $webp_set ", " $medium_webp.RelPermalink " 600w") }}
{{ end }}

{{ if gt $image.Width "825"}}
{{ $large := $image.Resize "825x q82" }}
{{ $large_webp := $image.Resize "825x webp q82" }}
{{ $src_set = (print $src_set ", " $large.RelPermalink " 825w") }}
{{ $webp_set = (print $webp_set ", " $large_webp.RelPermalink " 825w") }}
{{ end }}

{{ $border_class := "image-border" }}
{{ if $borderless}}
{{ $border_class = "" }}
{{ end }}

<figure class="{{ $border_class }}">
    <picture>
    <source type="image/webp" srcset="{{ $webp_set }}" sizes="(max-width: 860px) 100vw, 825px" />
    <img src="{{ $src.RelPermalink }}" srcset="{{ $src_set }}" sizes="(max-width: 860px) 100vw, 825px"
        loading="lazy" decoding="async" {{ if $width }}width="{{ $width }}"{{ else }}width="{{ $image.Width }}"{{ end }}
        height="{{ $image.Height }}" alt="{{ $alt }}"
        style="background:url(data:image/webp;base64,{{ $placeholder.Content | base64Encode }}) center/cover" />
    </picture>

    {{ if .Inner }}
    <figcaption>
        <em>{{ .Inner | markdownify }}</em>
    </figcaption>
    {{ end }}
</figure>