{{ $image := (.Page.Resources.GetMatch  (index .Params.image)) }}
{{ $alt := .Get "alt" }}
{{ $width := .Get "width" }}
{{ $borderless := .Get "borderless" }}
{{ $placeholder := ($image.Resize "48x q20") | images.Filter (images.GaussianBlur 6) }}
{{ $src := $image }}
{{ $src_set := ""}}

{{ $src_set = (print $image.RelPermalink " " $image.Width "w") }}
{{ $src := $image }}

{{ if ge $image.Width "400"}}
{{ $small := $image.Fill "400x" }}
{{ $src_set = (print $src_set ", "  $small.RelPermalink " 400w") }}
{{ end }}

{{ if ge $image.Width "600"}}
{{ $medium := $image.Fill "600x" }}
{{ $src_set = (print $src_set ", " $medium.RelPermalink " 600w") }}
{{ end }}

{{ if gt $image.Width "825"}}
{{ $large := $image.Fill "825x" }}
{{ $src_set = (print $src_set ", " $large.RelPermalink " 825w") }}
{{ end }}

{{ $border_class := "image-border" }}
{{ if $borderless}}
{{ $border_class = "" }}
{{ end }}

<figure class="{{ $border_class }} lazy">
    <img 
        class="lazyload" 
        data-sizes="auto" 
        src="{{ $src.RelPermalink }}" 
        {{ if $width }}
        width="{{$width}}"
        {{ end }} 
        srcset="data:image/jpeg;base64,{{ $placeholder.Content | base64Encode }}"
        data-src="{{ $src.RelPermalink }}" 
        data-srcset="{{ $src_set }}" 
        width="{{ $image.Width }}"
        height="{{ $image.Height }}" 
        alt="{{ $alt }}" 
    />

    {{ if .Inner }}
    <figcaption>
        <em>{{ .Inner }}</em>
    </figcaption>
    {{ end }}
</figure>