<div id="search-widget" class="light-blue-theme size-728x90" partner="affiliate_ir" country="IT" locale="it"
    departure_id="" arrival_id="" currency="EUR" domain="it" action="">
    </div>
<script type="text/javascript">
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = "https://ferret.cdn-goeuro.com/ferret-affiliates.js?v=" + new Date().getTime();
    document.head.appendChild(script);
</script>

<noscript>
    <a href="https://omio.sjv.io/c/2305702/420021/7385"></a>
</noscript><img height="0" width="0" src="//omio.sjv.io/i/2305702/420021/7385"
    style="position:absolute;visibility:hidden;" border="0" />